$white: #fdfbf9;
$light-orange: #EEAA78;
$orange: #E37222;
$dark-green: #2F3D27;
$green: #88B272;
$light-green: #E4FFD6;
$purple: #B255B1;
$pink: #FFBDFE;

$teal: #07889B;
$powder: #66B98F;

$primary: $light-orange;
$primary-light: #fff1e6;

$secondary: $powder;
$secondary-light: $powder;

$black: #353535;
